[login~=content]{
    width: 40%;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--color-dark);
    --transition-duration: .5s;
    -webkit-transition-duration: var(--transition-duration);
    -moz-transition-duration: var(--transition-duration);
    -o-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
    overflow: hidden;
    box-sizing: border-box;
}

[login~=content]:hover{
    --transform-scale: scale(.999);
    -webkit-transform: var(--transform-scale);
    -o-transform: var(--transform-scale);
    -ms-transform: var(--transform-scale);
    -moz-transform: var(--transform-scale);
    transform: var(--transform-scale);
    box-shadow: 5px 5px 15px var(--color-dark);
}

[login~=title], [login~=description], [login~=footer]{
    padding: 1rem;
    box-sizing: border-box;
}

[login~=title]{
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 700;
}