:root{
    --color-primary: #3FBEBC;
    --color-secondary: #ADAEAD;
    --color-white: #fff;
    --color-dark: #292E2E;
    --color-danger: #F7481E;
    --color-success: #54C821;
    /* color simple */
    --color-blue: #339e9c;
    --color-black: #000;
    --color-red: #d12c03;
    --color-green: #3bac0b;
    /* end color simple */
    --color-primary-degrade: #3fbebc31;
    --color-dark-degrade: #292E2E31;
    --color-danger-degrade: #F7481E31;
    --color-success-degrade: #54C82131;
    --color-secondary-degrade: #ADAEADA9;
    --color-white-degrade: #ffffff31;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* diseñando mensajes de errores */
div[error]{
    padding: .2rem 0 .2rem 1rem;
    color: var(--color-white);
}

div[error]:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 1rem;
}

div[error]:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 1rem;
}

div[error~=warning]{
    background-color: var(--color-danger);
}

div[error~=info]{
    background-color: var(--color-primary);
}

div[error~=success]{
    background-color: var(--color-success);
}

/* fin de mensaje de errores */

/* Contenedores */
[container~=error]{
    padding: 1rem;
}

/* fin de contenedores */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

body {
    /* background-color: black; */
}

.btn {
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    /* transitions */
    --transition-duration: .5s;
    -webkit-transition-duration: var(--transition-duration);
    -moz-transition-duration: var(--transition-duration);
    -o-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
    /* end transition */
    font-weight: 700;
    cursor: pointer;
    /* user select */
    --user-select: none;
    -webkit-user-select: var(--user-select);
    -moz-user-select: var(--user-select);
    -ms-user-select: var(--user-select);
    user-select: var(--user-select);
    /* end user select */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    display: inline-flex;
    position: relative;
    z-index: 2;
}

.btn:hover {
    box-shadow: -5px 5px var(--color-primary-degrade);
    z-index: 1;
}


/* add style outline color */

.btn-outline-primary:hover,
.btn-outline-danger:hover,
.btn-outline-success:hover,
.btn-outline-dark:hover {
    color: var(--color-white) !important;
    box-shadow: none;
}

.btn-outline-primary {
    color: var(--color-primary) !important;
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-primary) !important;
}

.btn-outline-primary:hover {
    background-color: var(--color-primary) !important;
}

.btn-outline-danger {
    color: var(--color-danger) !important;
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-danger) !important;
}

.btn-outline-danger:hover {
    background-color: var(--color-danger) !important;
}

.btn-outline-success {
    color: var(--color-success) !important;
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-success) !important;
}

.btn-outline-success:hover {
    background-color: var(--color-success) !important;
}

.btn-outline-dark {
    color: var(--color-dark) !important;
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-dark) !important;
}

.btn-outline-dark:hover {
    background-color: var(--color-dark) !important;
}

.btn-outline-white {
    color: var(--color-dark) !important;
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-white) !important;
}

.btn-outline-white:hover {
    background-color: var(--color-white) !important;
}


/* end style outline */


/* button group */

.btn-group {
    /* display: inline-block; */
    border: 1px solid var(--color-white);
    display: inline-block;
    padding-left: 5px;
}

.btn-group>.btn:first-child {
    border-radius: 10px 0px 0px 10px;
}

.btn-group>.btn:last-child {
    border-radius: 0px 10px 10px 0px;
}

.btn-group>.btn {
    border-left: 1px solid var(--color-white);
    border-radius: 0px;
    margin-left: -5px;
}


/* end button group */


/* background color */

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-danger {
    background-color: var(--color-danger) !important;
}

.bg-success {
    background-color: var(--color-success) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.bg-white {
    background-color: var(--color-white) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}


/* end background color */


/* event background color */

.bg-dark[class~=btn]:hover {
    box-shadow: -5px 5px var(--color-dark-degrade);
}

.bg-primary[class~=btn]:hover {
    box-shadow: -5px 5px var(--color-primary-degrade);
}

.bg-danger[class~=btn]:hover {
    box-shadow: -5px 5px var(--color-danger-degrade);
}

.bg-success[class~=btn]:hover {
    box-shadow: -5px 5px var(--color-success-degrade);
}

.bg-white[class~=btn]:hover {
    box-shadow: -5px 5px var(--color-white);
}

.bg-secondary[class~=btn]:hover {
    box-shadow: -5px 5px var(--color-secondary-degrade);
}


/* end background color */


/* styles to alert */

.alert {
    width: 100%;
    height: auto;
    padding: 25px 15px 25px 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.alert-primary[class~=alert] {
    color: var(--color-blue);
    background-color: var(--color-primary-degrade);
    border: 1px solid var(--color-primary);
}

.alert-success[class~=alert] {
    color: var(--color-green);
    background-color: var(--color-success-degrade);
    border: 1px solid var(--color-success);
}

.alert-dark[class~=alert] {
    color: var(--color-black);
    background-color: var(--color-dark-degrade);
    border: 1px solid var(--color-dark);
}

.alert-danger[class~=alert] {
    color: var(--color-red);
    background-color: var(--color-danger-degrade);
    border: 1px solid var(--color-danger);
}


/* end alert */


/* create menu options */

[menu] {
    margin: 0px;
    padding: 15px 10px 15px 5px;
    list-style: none;
    box-sizing: border-box;
    display: inline-flex;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* background color menu */

[bg-menu~=primary],
[bg-menu~=success],
[bg-menu~=danger],
[bg-menu~=dark] {
    color: var(--color-white);
}

[bg-menu~=white] {
    background-color: var(--color-white);
}

[bg-menu~=primary] {
    background-color: var(--color-primary);
}

[bg-menu~=success] {
    background-color: var(--color-success);
}

[bg-menu~=danger] {
    background-color: var(--color-danger);
}

[bg-menu~=dark] {
    background-color: var(--color-dark);
}


/* end background menu */

[menu] [option] {
    width: auto;
    height: auto;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

[menu] a {
    text-decoration: none !important;
}


/* type options */

[menu] [option~=round] {
    border: 1px solid var(--color-white);
    margin: 1px;
    border-radius: 10px;
}

[menu] [option~=selected] {
    background-color: var(--color-white);
    border-radius: 25px;
}

[menu] [option~=selected] a,
[menu] [option~=selected] {
    color: var(--color-dark);
}

[menu] [option~=principal] {
    padding-left: 25px;
}

[menu~=hover-danger] [option]:hover,
[menu~=hover-success] [option]:hover,
[menu~=hover-dark] [option]:hover,
[menu~=hover-primary] [option]:hover {
    border-radius: 25px;
    color: var(--color-white);
    --transition-duration: .5s;
    -webkit-transition-duration: var(--transition-duration);
    -moz-transition-duration: var(--transition-duration);
    -o-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
}

[menu~=hover-danger] [option]:hover {
    background-color: var(--color-danger);
}

[menu~=hover-primary] [option]:hover {
    background-color: var(--color-primary);
}

[menu~=hover-success] [option]:hover {
    background-color: var(--color-success);
}

[menu~=hover-dark] [option]:hover {
    background-color: var(--color-dark);
}


/* end type options */


/* end create menu options */


/* user select */

[user-select~=false] {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

[user-select~=true],
[user-select] {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


/* end user select */


/* style row and col */

[row] {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
}

[row]>[col] {
    width: 100%;
}

[row]>[col-1] {
    width: 10%;
}

[row]>[col-2] {
    width: 20%;
}

[row]>[col-3] {
    width: 30%;
}

[row]>[col-4] {
    width: 40%;
}

[row]>[col-5] {
    width: 50%;
}


/* end style row and col */


/* style align text */

[text-align~=left] {
    text-align: left;
}

[text-align~=right] {
    text-align: right;
}

[text-align~=center] {
    text-align: center;
}


/* end text align */


/* style position */

[position~=fixed] {
    position: fixed !important;
}

[position~=absolute] {
    position: absolute !important;
}

[position~=relative] {
    position: relative !important;
}


/* end position */


/* styles location */

[location~=top] {
    top: 0;
}

[location~=left] {
    left: 0;
}

[location~=right] {
    right: 0;
}

[location~=bottom] {
    bottom: 0;
}


/* end styles location */


/* margins */


/*
    mt --> Margin Top
    md --> Margin End
    mb --> Margin Bottom
    ml --> Margin Left
    my --> Margin Bottom and Top
    mx --> Margin Left and End
*/

[mt-1] {
    margin-top: 1rem;
}

[mt-2] {
    margin-top: 2rem;
}

[mt-3] {
    margin-top: 3rem;
}

[mt-4] {
    margin-top: 4rem;
}

[mt-5] {
    margin-top: 5rem;
}

[mb-1] {
    margin-bottom: 1rem;
}

[mb-2] {
    margin-bottom: 2rem;
}

[mb-3] {
    margin-bottom: 3rem;
}

[mb-4] {
    margin-bottom: 4rem;
}

[mb-5] {
    margin-bottom: 5rem;
}

[md-1] {
    margin-right: 1rem;
}

[md-2] {
    margin-right: 2rem;
}

[md-3] {
    margin-right: 3rem;
}

[md-4] {
    margin-right: 4rem;
}

[md-5] {
    margin-right: 5rem;
}

[ml-1] {
    margin-left: 1rem;
}

[ml-2] {
    margin-left: 2rem;
}

[ml-3] {
    margin-left: 3rem;
}

[ml-4] {
    margin-left: 4rem;
}

[ml-5] {
    margin-left: 5rem;
}

[my-1] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

[my-2] {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

[my-3] {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

[my-4] {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

[my-5] {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

[mx-1] {
    margin-left: 1rem;
    margin-right: 1rem;
}

[mx-2] {
    margin-left: 2rem;
    margin-right: 2rem;
}

[mx-3] {
    margin-left: 3rem;
    margin-right: 3rem;
}

[mx-4] {
    margin-left: 4rem;
    margin-right: 4rem;
}

[mx-5] {
    margin-left: 5rem;
    margin-right: 5rem;
}


/* end margin */


/*
    pt --> Padding Top
    pd --> Padding End
    pb --> Padding Bottom
    pl --> Padding Left
    py --> Padding Bottom and Top
    px --> Padding Left and End
*/

[pt-1] {
    padding-top: 1rem;
}

[pt-2] {
    padding-top: 2rem;
}

[pt-3] {
    padding-top: 3rem;
}

[pt-4] {
    padding-top: 4rem;
}

[pt-5] {
    padding-top: 5rem;
}

[pb-1] {
    padding-bottom: 1rem;
}

[pb-2] {
    padding-bottom: 2rem;
}

[pb-3] {
    padding-bottom: 3rem;
}

[pb-4] {
    padding-bottom: 4rem;
}

[pb-5] {
    padding-bottom: 5rem;
}

[pd-1] {
    padding-right: 1rem;
}

[pd-2] {
    padding-right: 2rem;
}

[pd-3] {
    padding-right: 3rem;
}

[pd-4] {
    padding-right: 4rem;
}

[pd-5] {
    padding-right: 5rem;
}

[pl-1] {
    padding-left: 1rem;
}

[pl-2] {
    padding-left: 2rem;
}

[pl-3] {
    padding-left: 3rem;
}

[pl-4] {
    padding-left: 4rem;
}

[pl-5] {
    padding-left: 5rem;
}

[py-1] {
    padding: 1rem 0 1rem 0;
}

[py-2] {
    padding: 2rem 0 2rem 0;
}

[py-3] {
    padding: 3rem 0 3rem 0;
}

[py-4] {
    padding: 4rem 0 4rem 0;
}

[py-5] {
    padding: 5rem 0 5rem 0;
}

[px-1] {
    padding: 0 1rem 0 1rem;
}

[px-2] {
    padding: 0 2rem 0 2rem;
}

[px-3] {
    padding: 0 3rem 0 3rem;
}

[px-4] {
    padding: 0 4rem 0 4rem;
}

[px-5] {
    padding: 0 5rem 0 5rem;
}


/* end padding */


/* clear style */

[clear-style] {
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    text-decoration: none;
    color: black;
}


/* end clear styles */


/* z-index */

[zindex-1] {
    z-index: 1;
}

[zindex-2] {
    z-index: 2;
}

[zindex-3] {
    z-index: 3;
}

[zindex-4] {
    z-index: 4;
}

[zindex-5] {
    z-index: 5;
}


/* end z-index */


/* text color style */

[text-color~=white] {
    color: var(--color-white);
}

[text-color~=primary] {
    color: var(--color-primary) !important;
}

[text-color~=danger] {
    color: var(--color-danger) !important;
}

[text-color~=success] {
    color: var(--color-success) !important;
}

[text-color~=dark] {
    color: var(--color-dark) !important;
}

[text-color~=secondary] {
    color: var(--color-secondary) !important;
}

[text-color~=secondary] {
    color: var(--color-secondary) !important;
}


/* end text color style */


/* modal styles */

[modal~=hidden] {
    margin-top: -25rem;
    /* display: none; */
    --transition-duration: .3s;
    -webkit-transition-duration: var(--transition-duration);
    -moz-transition-duration: var(--transition-duration);
    -o-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
}

[modal~=show] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--color-secondary-degrade);
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 267px;
    /* display: inline !important; */
    padding: 10% 20% 10% 20%;
    margin-top: 0rem;
    --transition-duration: .5s;
    -webkit-transition-duration: var(--transition-duration);
    -moz-transition-duration: var(--transition-duration);
    -o-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
}

[modal~=show] [modal~=content] {
    width: auto;
    height: auto;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 10px;
}

[modal~=show] [modal~=content] [modal~=header],
[modal~=show] [modal~=content] [modal~=body],
[modal~=show] [modal~=content] [modal~=footer] {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

[modal~=show] [modal~=content] [modal~=header] [modal~=title] {
    font-size: 25px;
    font-weight: 700;
}

[modal~=show] [modal~=content] [modal~=body] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--color-dark-degrade);
    border-bottom: 1px solid var(--color-dark-degrade);
}

[modal~=show] [modal~=content] [modal~=footer] {
    text-align: right;
}

[modal~=close] {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 0;
}

@media (max-width: 400px) {
    [modal~=show] {
        padding: 5% 5% 5% 5%;
    }
}


/* end modal styles */


/* alert styles */

[alert~=pop-up] {
    width: 15rem;
    height: auto;
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    --transition-duration: 5s;
    -webkit-transition-duration: var(--transition-duration);
    -moz-transition-duration: var(--transition-duration);
    -o-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
    box-sizing: border-box;
    margin: 0 10px 5px 10px;
    position: relative;
    z-index: 500;
}

[alert~=pop-up] [alert~=title],
[alert~=pop-up] [alert~=description] {
    padding: .5rem;
}

[alert~=pop-up] [alert~=title] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

[alert~=pop-up] [alert~=close] {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    border-radius: 20px;
    border: 1px solid var(--color-dark-degrade);
}

[alert~=pop-up] [alert~=close]:hover {
    color: red;
}


/* end alert styles */


/* styles cursor */

[cursor~=pointer] {
    cursor: pointer;
}

[cursor~=move] {
    cursor: move;
}

[cursor~=progress] {
    cursor: progress;
}

[cursor~=wait] {
    cursor: wait;
}


/* end style cursor */


/* chat styles */

[chat~=group] {
    display: inline-flex;
    margin: 0 5px 0 5px;
    width: auto;
    height: 20rem;
    box-sizing: border-box;
}

[chat~=group] [chat~=content] {
    margin: 0 5px 0 5px;
}

[chat~=content] {
    width: 15rem;
    height: 20rem;
    box-sizing: border-box;
    --border-radius: 5px;
    border: 1px solid var(--color-dark-degrade);
    border-radius: 15px 15px 0 0;
    /* padding: 0 5px 0 5px; */
    overflow: hidden;
    background-color: var(--color-secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

[chat~=header][chat~=hidden]+[chat~=body],
[chat~=header][chat~=hidden]+[chat~=body]+[chat~=footer] {
    display: none;
}

[chat~=content] [chat~=header] {
    width: 100%;
    padding: 10px 15px 10px 15px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-dark);
    cursor: pointer;
    box-sizing: border-box;
}

[chat~=content] [chat~=body] {
    width: 100%;
    height: 78%;
    overflow-y: scroll;
    padding: 15px 5px 10px 5px;
    box-sizing: border-box;
    background-color: var(--color-white);
}

[chat~=content] [chat~=footer] {
    width: 100%;
    height: 2rem;
    padding: 2px 0 6px 0;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

[chat~=content] [chat~=body] [message~=received],
[chat~=content] [chat~=body] [message~=send] {
    padding: 15px 5px 15px 5px;
    color: var(--color-white);
}

[chat~=content] [chat~=body] [message~=received] {
    text-align: left;
}

[chat~=content] [chat~=body] [message~=send] {
    text-align: right;
}

[chat~=content] [chat~=body] [message~=received] [message~=description] {
    border: 1px solid var(--color-secondary);
    border-radius: 9px 9px 9px 0;
    background-color: var(--color-secondary);
}

[chat~=content] [chat~=body] [message~=send] [message~=description],
[chat~=content] [chat~=body] [message~=received] [message~=description] {
    padding: 10px;
}

[chat~=content] [chat~=body] [message~=send] [message~=description] {
    border-radius: 9px 9px 0 9px;
    background-color: var(--color-success);
}

[chat~=footer] [chat~=input] {
    width: 74%;
    height: 100%;
    margin: 0 -5px 0 0;
}

[chat~=footer] [chat~=buttom] {
    border: 1px solid var(--color-dark);
    padding: 7px;
    background-color: var(--color-dark);
    color: var(--color-white);
    cursor: pointer;
}


/* end chat styles */


/* no styles */

[no-style~=margin] {
    margin: 0 !important;
}

[no-style~=padding] {
    padding: 0 !important;
}


/* end no styles */


/* container */

[container] {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

[container~=normal] {
    padding: 0 5rem 0 5rem;
}

[container~=fluid] {
    padding: 0 2.5rem 0 2.5rem;
}

[container~=center] {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

[container~=center] * {
    margin: 0 auto;
}


/* end container */


/* styles accordion */

[accordion~=content] {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

[accordion~=content] [accordion~=header] {
    background-color: #E3E3E3;
    display: flex;
    padding: 20px;
    cursor: pointer;
    color: var(--color-dark);
    font-weight: 700;
    box-sizing: border-box;
}

[accordion~=content] [accordion~=header] [accordion~=title] {
    width: 80%;
}

[accordion~=content] [accordion~=header] [accordion~=more] {
    width: 20%;
    text-align: right;
}

[accordion~=content] [accordion~=description] {
    --border-style: 1px solid var(--color-secondary);
    border-left: var(--border-style);
    border-right: var(--border-style);
    border-bottom: var(--border-style);
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

[accordion~=show] {
    display: block;
}

[accordion~=hidden] {
    display: none;
}


/* end styles accordion */


/* styles mask */

[mask] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
}

[mask=primary] {
    background-color: var(--color-primary-degrade);
}

[mask=white] {
    background-color: var(--color-white-degrade);
}

[mask=secondary] {
    background-color: var(--color-secondary-degrade);
}

[mask=danger] {
    background-color: var(--color-danger-degrade);
}

[mask=dark] {
    background-color: var(--color-dark-degrade);
}

[mask=success] {
    background-color: var(--color-success-degrade);
}


/* end mask */

[progress] {
    padding: 2px;
    background-color: var(--color-dark-degrade);
    border-radius: 5px;
    box-sizing: border-box;
}

/* styles from options menu */
[option]{
    text-decoration: none;
    padding: 1rem;
    --transition-duration: .5s;
    -webkit-transition-duration: var(--transition-duration);
    -moz-transition-duration: var(--transition-duration);
    -o-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
    --user-select: none;
    -webkit-user-select: var(--user-select);
    -moz-user-select: var(--user-select);
    -ms-user-select: var(--user-select);
    user-select: var(--user-select);
}

[option~=item]:hover{
    background-color: gray;
    color: var(--color-white);
}

[option~=close]:hover{
    background-color: var(--color-danger-degrade);
    color: var(--color-white);
}

[option~=item]{
    color: white;
    background-color: var(--color-dark);
}

[option~=close]{
    color: white;
    background-color: var(--color-danger);
}

[option~=selected]{
    color: var(--color-dark);
    background-color: var(--color-white);
}
/* end styles from options */